<%# navbar code %>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Medical Portal", root_path, class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home" , root_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <%# shows signout login etc links in the navbar according to user status%>
        <% if user_signed_in? %>
          <li><%= link_to "Edit Password", edit_user_registration_path %></li>
          <%# needed to use button here as link was unable to perform method: delete %>
          <li><%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn-link signout" %></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Log in", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
